table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 266;
    border-spacing: 0;
}
thead, tbody { display: block; }
tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
tbody td, thead th {
    width: 50px;
}
thead th:last-child {
    width: 216px;
}
#quaternion {
    width: 200px;
    cursor: pointer;
}
#quaternion:hover {
    background-color: rgb(255, 132, 0)
}
#list_container {
    display: flex;
}
#range_selector {
    display: flex;
}
.range {
    width: 50px;
}
#reference {
    display: table;
}
.cell {
    display: table-cell;
}
#x, #y, #z {
    width: 40px
}